body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0; 
}

/* HEADER */

header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: rgba(0, 0, 0); 
    color: white;
    z-index: 1000; 
    border-bottom: 1px solid white;
}

header .logo {
    text-decoration: none; 
    color: rgb(255, 0, 0); 
}

header h1 {
    text-decoration: none;
    padding-left: 5vh;
    color:red;
}

header nav {
    padding-right: 5vh;
}

nav {
    display: flex; 
    gap: 15px; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; 
}

nav a:hover {
    color: red;
    text-decoration: none;
}

/* VISUALIZATIONS */

.visual {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    height: 430vh;
    justify-content: flex-start;
    align-items: center;
}

.visual h2 {
    color: white;
    font-size: 3em;
    padding-top: 15vh;
}

/* FOOTER */

.footer {
    border-top: 1px solid white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: black; 
    color: white; 
    padding: 20px; 
}

.footer h2 {
    margin: 0; 
    font-size: 0.9em; 
}

.logo {
    text-decoration: none; 
    color: white; 
    font-size: 0.9em; 
}